@model BiraFit.ViewModel.ChatViewModel
@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
        <section id="loginForm">
            <div class="container">
                <div id="mybox" class="mainbox col-md-8 col-md-offset-2">
                    <div class="panel panel-info" id="innerbox">
                        <div class="panel-heading" id="loginHead">
                            <div class="panel-title">Konversation</div>
                        </div>
                        <div class="modal-body" id="scrollBody">                          
                            <ul class="chat">
                                @foreach (var item in @Model.Nachrichten)
                                {
                                    if (item.Sender_Id == @Model.Id)
                                    {
                                        <li class="right clearfix">
                                            <div class="col-md-10 col-md-offset-2">
                                                <span class="chat-img pull-right">
                                                    <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                                                </span>
                                                <div class="chat-body clearfix">
                                                    <div class="header">
                                                        <strong class="pull-right primary-font">Ich Name</strong>
                                                        <small class=" text-muted">
                                                            <span class="glyphicon glyphicon-time"></span>13 mins ago
                                                        </small>
                                                    </div>
                                                    <p>
                                                        @item.Text
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                    else
                                    {

                                        <li class="left clearfix">
                                            <div class="col-md-10">
                                                <span class="chat-img pull-left">
                                                    <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                                                </span>
                                                <div class="chat-body clearfix">
                                                    <div class="header">
                                                        <strong class="primary-font">Er Name</strong>
                                                        <small class="pull-right text-muted">
                                                            <span class="glyphicon glyphicon-time"></span>14 mins ago
                                                        </small>
                                                    </div>
                                                    <p>
                                                        @item.Text
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-md-2"></div>
                                        </li>
                                    }
                                }

                            </ul>
                            </div>
                            @using (Html.BeginForm("SendMessage", "Nachricht"))
                            {
                                <div class="modal-footer">
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            @Html.TextAreaFor(m => m.Nachricht, new { @class = "form-control", @id = "SingleNachricht", @placeholder = "Ihre Nachricht.." })
                                            @Html.ValidationMessageFor(m => m.Nachricht, "", new { @class = "text-danger" })
                                            @Html.HiddenFor(k => k.KonversationId, new { @value = Model.KonversationId })
                                        </div>
                                        <div class="col-md-2">
                                            <span class="input-group-btn">
                                                <button type="submit" id="btn-chat" class="btn btn-warning btn-lg">senden</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            }
                    </div>
                </div>
            </div>
        </section>
    </div>
