@model BiraFit.ViewModel.NachrichtViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body id="chatBack">
<div class="row">
    <div class="container" id="boxForm">
        <div class="mainbox col-md-8 col-md-offset-2" id="chatbox">
            <div class="panel panel-info" id="innerbox">
                <div class="panel-heading" id="boxHead">
                    <div class="panel-title">
                        <h2>Meine Chats</h2>
                    </div>
                </div>
                <div class="modal-body" id="boxbody">
                    <ul class="chat">
                        @{
                            int counter = 0;
                            foreach (var item in @Model.Konversationen)
                            {
                                <li class="left clearfix" id="chatList">
                                    <a href="Nachricht/Chat/@item.Id">
                                        <div class="col-md-10">
                                            <span class="chat-img pull-left">
                                                <img src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg" alt="@Model.ProfileImages[counter]" class="img-circle" />
                                            </span>
                                            <div class="chat-body clearfix">
                                                <div class="header">
                                                    <strong id="usrName">Chatpartner</strong>
                                                    <small class="pull-right">
                                                        <span class="glyphicon glyphicon-time"></span>
                                                    </small>
                                                </div>
                                                @if (@Model.LastMessages[counter].Length > 40)
                                                {
                                                    <p>
                                                        @Model.LastMessages[counter].Remove(40)...
                                                    </p>
                                                }
                                                else
                                                {
                                                    <p>
                                                        @Model.LastMessages[counter]
                                                    </p>
                                                }
                                            </div>
                                        </div>
                                    </a>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <a id="delButton" href="" class="btn btn-block">Löschen</a>
                                        </div>
                                    </div>
                                </li>

                                counter++;
                            }
                        }
                    </ul>
                </div>
                <div class="panel-footer" id="footerBox">
                </div>
            </div>
        </div>
    </div>
</div>
</body>