<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/BiraStyle.css" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="menuBar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" id="menuBar" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 class="modal-title"><a id="titleLink" href="/">BiraFit</a></h1>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>





        <div class="container body-content">
            @RenderBody()
            <footer id="footer">
                <p>&copy; @DateTime.Now.Year - BiraFit</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
