<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


<div class="container">
    <div class="row">
        <h2 class="page-header">Sportler Bedarf</h2>
        <section class="comment-list">
            @foreach (var item in @Model)
            {
                <article class="row">
                    <div class="col-md-2 col-sm-2"></div>
                    <div class="col-md-1 col-sm-1">
                        <figure class="thumbnail">
                            <img class="img-responsive" width="75" height="75" src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg" />
                        </figure>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <div class="panel panel-default arrow left">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-5 col-sm-5">
                                        <div class="comment-user">
                                            <b>@item.Titel</b>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-sm-7">
                                        <time class="comment-date pull-right">
                                            <i class="fa fa-clock-o"></i>
                                            erstellt am: @item.Datum.Day.@item.Datum.Month.@item.Datum.Year von <b>Benutzername</b>
                                        </time>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <p class="text-left">@item.Beschreibung</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <p class="text-left">Umgebung: @item.Ort</p>
                                        <p class="text-left">Preisvorstellung: @item.Preis.- pro Woche</p>
                                    </div>
                                </div>

                                <div class="input-group">
                                    <input type="number" id="angebot" class="form-control input-sm chat-input" placeholder="Mein Angebot" />
                                    <input type="text" id="angebotsBeschreibung" class="form-control input-sm chat-input" placeholder="Beschriebung..." />
                                    <span class="input-group-btn" onclick="">
                                        <a href="" class="btn btn-primary btn-sm" id="angebotButton" ><span class="fa fa-reply"></span> Angebot abgeben</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2"></div>
                </article>
            }
        </section>
    </div>
</div>
