@model BiraFit.Models.Bedarf
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-header">Bedarf bearbeiten</h2>
@using (Html.BeginForm("Edit", "Bedarf"))
{
    <div class="container" id="loginForm">
        <div id="mybox" class="mainbox col-md-4 col-md-offset-4">
            <div class="panel panel-info" id="innerbox">
                <div class="panel-heading" id="loginHead">
                    <div class="panel-title">Bedarf bearbeiten</div>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label for="titel">Titel</label>
                            @Html.TextBoxFor(m => m.Titel, new { @class = "form-control", @id = "titel", @placeholder = "Titel" })
                            @Html.ValidationMessageFor(m => m.Titel, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label for="beschreibung">Beschreibung</label>
                            @Html.TextAreaFor(m => m.Beschreibung, new { @class = "form-control", @id = "beschreibung", @placeholder = "Beschreibung" })
                            @Html.ValidationMessageFor(m => m.Beschreibung, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label for="preis">Meine Preisvorstellung</label>
                            @Html.TextBoxFor(m => m.Preis, new { @class = "form-control", @id = "preis", @type = "number", @placeholder = "Preis pro Woche" })
                            @Html.ValidationMessageFor(m => m.Preis, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <label for="ort">In der Umgebung von</label>
                            @Html.TextBoxFor(m => m.Ort, new { @class = "form-control", @id = "ort", @placeholder = "Ort" })
                            @Html.ValidationMessageFor(m => m.Ort, "", new { @class = "text-danger" })
                        </div>
                        <button type="submit" id="loginButton" class="btn btn-block">Bedarf speichern</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}


@*


        <div class="form-group">
        @Html.LabelFor(m => m.Titel)
        @Html.TextBoxFor(m => m.Titel, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Beschreibung)
        @Html.TextAreaFor(m => m.Beschreibung, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Preis)
        @Html.TextBoxFor(m => m.Preis, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Ort)
        @Html.TextBoxFor(m => m.Ort, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Bedarf speichern</button>

*@