@model List<BiraFit.ViewModel.BedarfViewModel>

@{
    ViewBag.Title = "Bedarf";
}

<div class="row">
    <section id="boxForm">
        <div class="container">
            <div class="mainbox col-md-8 col-md-offset-2">
                <div class="panel-heading" id="boxHead">
                    <div class="panel-title">
                        <h2>Bedürfnisse</h2>
                    </div>
                </div>
                @foreach (var item in @Model)
                {
                    if (item.Bedarf.OpenBedarf)
                    {
                        <div class="modal-content" id="bedarf">
                            <article>
                                <div class="row">
                                    <div class="col-sm-4 col-md-2">
                                        <figure>
                                            <img class="img-circle" id="profileImg" src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg"/>
                                        </figure>
                                        <p id="usrName">
                                            Benutzername
                                        </p>
                                    </div>
                                    <div class="col-sm-6 col-md-8">
                                        <h4>
                                            <b>@item.Bedarf.Titel</b>
                                        </h4>
                                        <p id="descriptionText">@item.Bedarf.Beschreibung</p>
                                        <section>
                                            <small>Preisvorstellung: <b id="descriptionText">@item.Bedarf.Preis.- / Woche</b></small>
                                        </section>
                                        <section>
                                            <small>Umgebung: <b id="descriptionText">@item.Bedarf.Ort</b></small>
                                        </section>
                                    </div>
                                    <div class="col-sm-2 col-md-2">
                                        <span id="postTime" class="label label-default pull-right">@item.Bedarf.Datum</span>
                                    </div>
                                </div>
                                @if (@item.Trainer != null)
                                {
                                    if (@item.OfferMade)
                                    {
                                        <p>Sie haben schon ein Angebot gemacht.</p>
                                        <a href="/Bedarf/Withdraw/@item.Bedarf.Id">Angebot zurückziehen</a>
                                    }
                                    else
                                    {
                                        using (Html.BeginForm("Create", "Angebot"))
                                        {
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-7">
                                                        <div class="form-group">

                                                            @Html.TextBox("Beschreibung", item.Beschreibung, new {@class = "form-control", @placeholder = "Beschreibung", @id = "Beschreibung", name = "Beschreibung"})

                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group">

                                                            @Html.TextBox("Preis", item.Preis, new {@class = "form-control", @placeholder = "Preis", @id = "Preis", name = "Preis"})
                                                        </div>
                                                    </div>

                                                    @Html.Hidden("Id", item.Bedarf.Id, new {@value = item.Bedarf.Id})
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <input type="submit" class="btn btn-block" id="bewerbButton"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                                @if (@item.IsOwner)
                                {
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-1">
                                            <div class="col-md-3 col-md-offset-6">
                                                <div class="form-group">
                                                    <a class="btn btn-block" id="editButton" href="Bedarf/Edit/@item.Bedarf.Id">Bearbeiten</a>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <a class="btn btn-block" id="delButton" href="Bedarf/Delete/@item.Bedarf.Id">Löschen</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </article>
                        </div>
                    }
                }
            </div>
        </div>
    </section>
</div>