@model BiraFit.Models.EditViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body id="profileBack">

    @using (Html.BeginForm("Edit", "Manage"))
    {

        <div class="container" id="boxForm">
            <div id="mybox" class="col-md-6 col-md-offset-3  modal-content">
                <div class="panel panel-info" id="innerbox">
                    <div class="panel-heading" id="boxHead">
                        <div class="panel-title">
                            <h4>Account bearbeiten</h4>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="fname">Vorname</label>
                                        @Html.TextBoxFor(model => model.Vorname, new { @class = "form-control", @id = "fname", @placeholder = "Vorname" })
                                        @Html.ValidationMessageFor(model => model.Vorname, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="nname">Nachname</label>
                                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @id = "nname", @placeholder = "Nachname" })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="mail">E-Mail</label>
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @id = "mail", @placeholder = "Email" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        <label for="address">Strasse</label>
                                        @Html.TextBoxFor(model => model.Adresse, new { @class = "form-control", @id = "address", @placeholder = "Strasse" })
                                        @Html.ValidationMessageFor(model => model.Adresse, "", new { @class = "text-danger" })
                                    </div>
                                    @if (ViewBag.Type == "PersonalTrainer")
                                    {
                                        <div class="form-group">
                                            <label for="SingleNachricht">Beschreibung</label>
                                            @Html.TextAreaFor(model => model.Beschreibung, new { @class = "form-control", @id = "SingleNachricht", @placeholder = "Beschreibung" })
                                            @Html.ValidationMessageFor(model => model.Beschreibung, "", new { @class = "text-danger" })
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" id="footerBox">
                        <input type="submit" class="btn btn-primary" id="loginButton" value="Speichern" />
                        <a id="loginButton" class="btn btn-primary" href="/Manage/Index">Zurück</a>
                    </div>

                </div>
            </div>
        </div>

    }
    </body>