@model BiraFit.Models.ConfirmationViewModel
@{
    ViewBag.Title = "Konto bestätigen";
}
<body id="loginRegBack">
    @using (Html.BeginForm("sendConfirmation", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="container" id="loginForm">
            <div id="mybox" class="mainbox col-md-6 col-md-offset-3 modal-content">
                <div class="panel panel-info" id="innerbox">
                    <div class="panel-heading" id="boxHead">
                        <div class="panel-title">
                            <h4>Konto Bestätigen</h4>
                        </div>
                    </div>

                    <div class="modal-body">
                        <div class="col-md-12">
                            <p>Noch keine Mail erhalten?</p>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "E-Mail" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" id="normalButton" class="btn btn-block">Erneut senden</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
