@using BiraFit.Models
@model LoginViewModel
@{
    ViewBag.Title = "Anmelden";
}
<body id="loginRegBack">
@using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    <div class="container" id="loginForm">
        <div id="mybox" class="mainbox col-md-6 col-md-offset-3 modal-content">
            <div class="panel panel-info" id="innerbox">
                <div class="panel-heading" id="boxHead">
                    <div class="panel-title">
                        <h4>Anmelden</h4>
                    </div>
                </div>

                <div class="modal-body">
                    <form role="form">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Email, new {@class = "form-control", @id = "usrname", @placeholder = "E-Mail"})
                                @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(m => m.Password, new {@class = "form-control", @id = "psw", @placeholder = "Kennwort"})
                                @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                            </div>
                            <div class="form-group checkbox" id="logregText">
                                <label>
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" id="loginButton" class="btn btn-block">Anmelden</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

</body>


@*
                <div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>

    *@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}