@model BiraFit.Models.RegisterViewModel
@{
    ViewBag.Title = "Registrieren";
}


<body id="loginRegBack">

    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {

        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="container" id="loginForm">
            <div id="mybox" class="mainbox col-md-6 col-md-offset-3 modal-content">
                <div class="panel panel-info" id="innerbox">
                    <div class="panel-heading" id="boxHead">
                        <div class="panel-title"><h4>Registrieren</h4></div>
                    </div>

                    <div class="modal-body">
                        <form role="form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control", @id = "fname", @placeholder = "Vorname" })
                                    @Html.ValidationMessageFor(m => m.Firstname, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control", @id = "nname", @placeholder = "Nachname" })
                                    @Html.ValidationMessageFor(m => m.Lastname, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @id = "email", @placeholder = "E-Mail" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @id = "psw", @placeholder = "Kennwort" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @id = "pswc", @placeholder = "Kennwort wiederholen" })
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" id="logregText">
                                    @Html.RadioButtonFor(model => model.Sportler, true, new { id = "sportler" })
                                    @Html.Label("sportler", "Sportler")
                                </div>
                                <div class="form-group" id="logregText">
                                    @Html.RadioButtonFor(model => model.Sportler, false, new { id = "trainer" })
                                    @Html.Label("trainer", "Trainer")
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-block" id="loginButton">Registrieren</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
    </body>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
