@model List<BiraFit.ViewModel.AngebotViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var image = "~/Resources/standardprofilbild.jpg";
    if (@Model.Count > 0)
    {
        if (Model[0].sportlerPicture != null)
        {
            image = "~/Resources/AccountPicture/" + Model[0].sportlerPicture;
        }
    }
}


<body id="mainBack">
    <div class="row">
        <section id="boxForm">
            <div class="container">
                <div class="mainbox col-md-8 col-md-offset-2">
                    <div class="panel-heading" id="boxHead">
                        <div class="panel-title">
                            <h2>Mein Bedarf</h2>
                        </div>
                    </div>
                    @if (@Model.Count > 0)
                    {
                        <div class="modal-content" id="bedarf">
                            <article>
                                <div class="row">
                                    <div class="col-md-2">
                                        <figure>
                                            <img class="img-circle" id="profileImg" src="@Url.Content(image)" />
                                        </figure>
                                        <p id="usrName">
                                        </p>
                                    </div>
                                    <div class="col-sm-6 col-md-8" id="angebotBedarfBody">
                                        <h4>
                                            <b>@Model[0].Bedarf.Titel</b>
                                        </h4>
                                        <p id="descriptionText">@Model[0].Bedarf.Beschreibung</p>
                                        <section>
                                            <small>Preisvorstellung: <b id="descriptionText">@Model[0].Bedarf.Preis.- / Woche</b></small>
                                        </section>
                                        <section>
                                            <small>Umgebung: <b id="descriptionText">@Model[0].Bedarf.Ort</b></small>
                                        </section>
                                    </div>
                                    <div class="col-sm-2 col-md-2">
                                        <span id="postTime" class="label label-default pull-right">@Model[0].Bedarf.Datum</span>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="panel-title col-md-offset-2" id="boxHead">
                            <h2>Angebote</h2>
                        </div>
                        <section class="comment-list">

                            @foreach (var item in @Model)
                            {
                                <div class="modal-content col-md-offset-2 col-lg-offset-2 col-sm-offset-0" id="bedarf">
                                    <article>
                                        <div class="row">
                                            <div class="col-md-2 col-sm-4">
                                                <figure>
                                                <a href="/Manage/Show/@item.peronalTrainerId">
                                                    @if (item.trainerPicture != null)
                                                    {
                                                        <img class="img-circle" id="profileImg" src="@Url.Content("~/Resources/AccountPicture/" + item.trainerPicture)" />
                                                    }
                                                    else
                                                    {
                                                        <img class="img-circle" id="profileImg" src="~/Resources/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg" />
                                                    }
                                                </a>
                                                    </figure>
                                            </div>
                                            <div class="col-md-8 col-sm-6" id="angebotBedarfBody">
                                                <h4>
                                                    <b>Angebot von <a href="/Manage/Show/@item.peronalTrainerId">@item.trainerUsername</a></b>
                                                </h4>
                                                <p id="descriptionText">@item.Angebot.Beschreibung</p>
                                                <section>
                                                    <small>Preisangebot: <b id="descriptionText">@item.Angebot.Preis.- / Woche</b></small>
                                                </section>
                                            </div>
                                            <div class="col-md-2 col-sm-2">
                                                <span id="postTime" class="label label-default pull-right">@item.Bedarf.Datum</span>
                                            </div>
                                        </div>

                                            <div class="row">
                                                <div class="col-md-10 col-md-offset-2">
                                                    <div class="col-md-3 col-md-offset-6">
                                                        <div class="form-group">
                                                            <a id="acceptButton" href="/Angebot/Accept/@item.Angebot.Id" class="btn btn-block">Annehmen</a>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <a id="delButton" href="/Angebot/Reject/@item.Angebot.Id" class="btn btn-block">Ablehnen</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </article>
                                </div>
                            }
                        </section>
                    }
                    else
                    {
                        <p>Leider haben Sie noch keine Angebote erhalten</p>
                    }
                </div>
            </div>
        </section>
    </div>
</body>
